.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.7)), url(../public/img/header.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
    position: relative;
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 100;
}

.navigation a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
    transition-property: background-color;
    transition-duration: 0.2s;
}
.navigation a:hover {
    background-color: var(--primary);
}
.model {
    color: var(--white);
    margin-top: 5rem;
    text-align: center;
}
.model p:first-of-type {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 2.2rem;
}
.price {
    font-size: 6rem;
    color: var(--primary);
    font-weight: 900;
    line-height: 0;
}
.guitar {
    display: none;
}
.link {
    display: inline-block;
    color: var(--white);
}
@media (min-width: 768px) {
    .bar {
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation {
        margin-top: 0;
    }
    .model {
        text-align: left;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .guitar {
        display: block;
        position: absolute;
        right: 0;
        bottom: -8px;
        animation-name: startGuitar;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes startGuitar {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
